.logo{
  position: absolute;
  width: 100px; height: 53px;
  left: 79px; top: 40px;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
}
.Category{
    position: absolute;
    width: 118px; height: 66px;
    left: 61px; top: 128px;
    background: #C4C4C4;
}
.main-Div{
    position: absolute;
    width: 1091px;  height: 1336px;
    left: 193px;  top: 128px;
    background: #EAEAEA;
}


.menu{
    position: absolute;
    width: 1043px;
    height: 139px;
    margin: 25px;
    margin-top: 500px;
    background: #C4C4C4;
    border-radius: 13px;
}
.menu button{
    width: 25%;
    height: 100%;
}


.my-menu{
    width: 100%;
    height: 259px;
    margin : 56px;
    margin-top: 700px;
    position: absolute;
}
.my-blog{
    width: 40%;
    height: 259px;
    background: #ff0000;
}
.my-subscribe{
    width: 40%;
    height: 259px;
    margin-top: -259px; margin-left: 50%;
    background: #000000;
}

.side-Web-name{
    position: fixed;
    font-weight: bold;  font-size: 15px;
    line-height: 1.87;  letter-spacing: 4px;
    right: 0px; bottom: 250px;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
}
